:host > div {
    position: relative;
}
.preview {
    height: 425px;
    overflow: hidden;
    background: var(--background-light);

    img {
        max-width: 100%;
        transform: translateY(-30%);
        
    }
}
.intro {
    position: absolute;
    top: 0px;
    left: 90px;
    right: 90px;
    bottom: 0;
    display: grid;
    align-content: center;

    h1 {
        text-align: center;
        margin: auto;
        font-size: 74px;
        color: white;
        font-weight: 600;
        line-height: 84px;
    }
}
.search {
    margin: 100px auto 0;
    
    input[type="text"] {
        height: 64px;
        line-height: 64px;
        border: none;
        border-radius: 50px;
        width: 600px;
        background: white url(/assets/icon/search.svg) 25px 50% no-repeat;
        outline: none;
        padding-left: 65px;
        padding-right: 65px;
        font-size: 18px;
        box-shadow: var(--shadow);
        font-family: 'Open Sans', sans-serif;
        color: var(--dark);
        
        &::placeholder {
            color: var(--light);
        }
    }
    input[type="submit"] {
        height: 64px;
        color: white;
        background: var(--purple);
        padding: 0 50px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        cursor: pointer;
        outline: none;
        margin-left: 25px;
        transition: all .3s;
        box-shadow: var(--shadow);
        &:hover {
            box-shadow: var(--shadow-h);
        }
    }
}