:host > div {
    position: relative;
}
.preview {
    height: 325px;
    overflow: hidden;
    background: black;

    img {
        max-width: 100%;
        transform: translateY(-30%);
        
    }
}
.intro {
    position: absolute;
    top: 0px;
    left: 90px;
    right: 90px;
    bottom: 0;
    display: grid;
    align-content: center;

    h1 {
        text-align: center;
        margin: auto;
        font-size: 74px;
        color: white;
        font-weight: 600;
        line-height: 84px;
    }
}
.search {
    margin: 100px auto 0;
    
    input[type="text"] {
        height: 64px;
        line-height: 64px;
        border: none;
        border-radius: 50px;
        width: 600px;
        background: white url(/assets/icon/search.svg) 25px 50% no-repeat;
        outline: none;
        padding-left: 65px;
        font-size: 18px;
        box-shadow: 0 6px 7px rgba(0,0,0,.1);
        
        &::placeholder {
            // font-size: 18px;
        }
    }
    input[type="submit"] {
        height: 64px;
        color: white;
        background: var(--purple);
        padding: 0 50px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        margin-left: 25px;
        transition: all .3s;
        font-weight: 600;
        letter-spacing: 2px;

        &:hover {
            box-shadow: 0 6px 7px rgba(0,0,0,.1);
        }
    }
}