.explore {
    margin: 35px 0 60px 0;
    
    > h1 {
        font-size: 48px;
        margin: 0 135px;
        text-align: center;
    }
    > p {
        text-align: center;
        font-size: 18px;
        margin: 25px 135px 50px 135px;
    }
    div {
        width: 100%;
        text-align: center;
    }
    &__see {
        text-align: center;
        line-height: 58px;
        border: 1px solid var(--purple);
        border-radius: 47px;
        font-size: 16px;
        color: var(--purple);
        text-decoration: none;
        display: inline-block;
        padding: 0 45px;
        text-transform: uppercase;
        margin: 0 auto;
        font-weight: 600;
        letter-spacing: 2px;
        transition: .3s;

        &:hover {
            background: var(--purple);
            color: white;
        }
    }
}