<section class="clubs">
  <h1>Турбо Клубы</h1>
  <p>Проверенные личные тренеры доставляются к вам домой, в парк или в здание спортзала.</p>
  <div>
    <div [ngStyle]="{'grid-template-columns': 'repeat(' + clubs.length + ', auto)'}">
    <article *ngFor="let club of clubs" [routerLink]="['/clubs', club.slug]">
      <figure [ngStyle]="{'background-color': '#'+club.color}"><img src="https://file.fitgum.ru/{{club.logo}}" alt=""></figure>
      <header><h1>{{club.title}}</h1></header>
      <p>{{club.description}}</p>
      <footer>Москва</footer>
    </article>
  </div>
  </div>
</section>