<div class="wrapper">
  <div class="container">
    <div class="data-list">
      <a href="#" class="data-list__items active">
        <div class="data-list__img">
          <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="svg-colors" x="1" y="2.90039" width="16" height="17.1" rx="1.83007" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M12.5555 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M5.44444 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M1 8.6H17" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="data-list__text">
          <span class="data-list__name">Name</span>
          <span class="data-list__date">27 Oct 2019</span>
        </div>
      </a>
      <a href="#" class="data-list__items">
        <div class="data-list__img">
          <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="svg-colors" x="1" y="2.90039" width="16" height="17.1" rx="1.83007" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M12.5555 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M5.44444 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M1 8.6H17" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="data-list__text">
          <span class="data-list__name">Name</span>
          <span class="data-list__date">27 Oct 2019</span>
        </div>
      </a>
      <a href="#" class="data-list__items">
          <div class="data-list__img">
            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect class="svg-colors" x="1" y="2.90039" width="16" height="17.1" rx="1.83007" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
              <path class="svg-colors" d="M12.5555 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
              <path class="svg-colors" d="M5.44444 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
              <path class="svg-colors" d="M1 8.6H17" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="data-list__text">
            <span class="data-list__name">Name</span>
            <span class="data-list__date">27 Oct 2019</span>
          </div>
      </a>
      <a href="#" class="data-list__items">
        <div class="data-list__img">
          <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="svg-colors" x="1" y="2.90039" width="16" height="17.1" rx="1.83007" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M12.5555 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M5.44444 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M1 8.6H17" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="data-list__text">
          <span class="data-list__name">Name</span>
          <span class="data-list__date">27 Oct 2019</span>
        </div>
      </a>
      <a href="#" class="data-list__items">
        <div class="data-list__img">
          <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="svg-colors" x="1" y="2.90039" width="16" height="17.1" rx="1.83007" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M12.5555 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M5.44444 1V4.8" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="svg-colors" d="M1 8.6H17" stroke="#9100FF" stroke-width="1.83007" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="data-list__text">
          <span class="data-list__name">Name</span>
          <span class="data-list__date">27 Oct 2019</span>
        </div>
      </a>
    </div>
  </div>
</div>
