<footer class="footer">
  <div class="footer__logo">
    <a href=""><span>fit</span><span>gum</span></a>
  </div>
  <div class="categories">
    <section>
      <h1>Get Started</h1>
      <ul>
        <li><a href="">Convenient Store</a></li>
        <li><a href="">Restaurants</a></li>
        <li><a href="">Laundry Service</a></li>
      </ul>
    </section>
    <section>
      <h1>Quick Links</h1>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Foods</a></li>
      </ul>
    </section>
  </div>
  <section>
    <h1>Newsletter</h1>
  </section>
</footer>
<div class="podval">
  <p>© 2020 Presto All rights reserved</p>
  <nav class="social">
    <!-- <a href="">Facebook</a> -->
    <a href="https://vk.com/fitgum"><img src="/assets/icon/VK_Logo.svg" alt="FitGum | ВКонтакте" title="FitGum | ВКонтакте"></a>
    <a href="https://www.instagram.com/gym.earth/"><img src="/assets/icon/instagram.svg" alt="@gym.earth • Фото и видео в Instagram" title="@gym.earth • Фото и видео в Instagram"></a>
    <a href="https://zen.yandex.ru/fitgum"><img src="/assets/icon/zen_icon_2018.svg" alt="Fitgum | Yandex Zen" title="Fitgum | Yandex Zen"></a>
  </nav>
  <ul class="payment">
    <li><a href=""><img src="/assets/icon/Visa_Inc._logo.svg" alt=""></a></li>
    <li><a href=""><img src="/assets/icon/mc_symbol.svg" alt=""></a></li>
  </ul>
</div>