<footer class="footer">
  <div class="footer__logo">
    <a href=""><span>fit</span><span>gum</span></a>
  </div>
  <div class="categories">
    <section>
      <h1>Get Started</h1>
      <ul>
        <li><a href="">Convenient Store</a></li>
        <li><a href="">Restaurants</a></li>
        <li><a href="">Laundry Service</a></li>
      </ul>
    </section>
    <section>
      <h1>Quick Links</h1>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Foods</a></li>
      </ul>
    </section>
  </div>
  <section>
    <h1>Newsletter</h1>
  </section>
</footer>