<main class="signin">
    <div>
      <section class="form">
        <h1>Sign in</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <label for="email">Youre e-mail</label>
          <input id="email" type="text" placeholder="orrin.prohaska@hotmail.com" [(ngModel)]="data.email" name="email">
          <label for="password">Password</label>
          <input id="password" type="password" value="password" [(ngModel)]="data.password" name="password">
          <input type="submit" value="Sign in">
        </form>
        <p class="form__info"><a routerLink="/forget-password" href="/forget-password">Forgot Password</a> or <a href="#">Username?</a></p>
        <span>Or</span>
        <a class="form__google" href="#">Sign in with Google</a>
        <p class="form__info">Don’t have account? <a routerLink="/signup" href="/signup">Signup</a></p>
      </section>
    </div>
    <div>
      <section class="text">
        <h1>Discover your<br> world by Fitness</h1>
        <p>This sounded a very good reason, and<br> Alice was quite pleased to know it.</p>
      </section>
    </div>
  </main>