<app-header-logo></app-header-logo>
<main class="signin">
    <div>
      <section class="form">
        <h1>Войти</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <label for="email">Электронная почта</label>
          <input id="email" type="text" placeholder="orrin.prohaska@hotmail.com" [(ngModel)]="data.email" name="email">
          <label for="password">Пароль</label>
          <input id="password" type="password" placeholder="password" [(ngModel)]="data.password" name="password">
          <input type="submit" value="Ok">
        </form>
        <p class="form__info"><a routerLink="/forget-password" href="/forget-password">Забыли пароль</a> или <a href="#">Имя пользователя?</a></p>
        <span>Или</span>
        <a class="form__google" href="#">Войти через Google</a>
        <p class="form__info">Нет аккаунта? <a routerLink="/signup" href="/signup">Регистрация</a></p>
      </section>
    </div>
    <div>
      <section class="text">
        <h1>Откройте Ваш<br> мир по Фитнесу</h1>
        <p>Это звучало очень веская причина, и<br> Элис была очень довольна это узнать.</p>
        <footer>
          <p>As featured in</p>
          <app-board-row></app-board-row>
        </footer>
      </section>
    </div>
  </main>