@media screen and (min-width:320px){ 
.signin {
    // display: grid;
    // grid-template-columns: repeat(2, 50%);
    height: 100%;

    > div:first-child {
        background: black;
        display: grid;
    }
    > div:last-child {
        display: grid;
        background: var(--purple) url('/assets/right-bg.png');
    }

}
}

.form {
    width: 340px;
    margin: auto;
    
    h1 {
        font-size: var(--xxxl);
        color: white;
        line-height: 44px;
        margin-bottom: 50px;
        margin-top: 80px;
    }

    label {
        font-size: 12px;
        display: block;
        color: white;
        line-height: 44px;
    }

    input[type="text"],
    input[type="password"] {
        background: var(--background-light);
        height: 48px;
        width: 100%;
        font-size: 12px;
        padding: 0 24px;;
        color: var(--grey-dark);
    }
    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
        color: var(--grey-dark);
    }
    input {
        border-radius: 4px;
        border: none;
        outline: none;
    }
    input[type="submit"] {
        background: var(--purple);
        height: 48px;
        width: 100%;
        font-size: 14px;
        color: white;
        cursor: pointer;
        margin-top: 30px;
        font-weight: 600;
    }

    &__info {
        color: var(--light);
        font-size: 12px;
        text-align: center;
        line-height: 44px;

        a {
            color: var(--light);
            transition:  all .3s;
            line-height: 22px;
            display: inline-block;
            &:hover {
                text-decoration: none;
            }
        }
    }
    span {
        display: block;
        color: var(--light);
        font-size: 12px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    }
    span::before,
    span::after {
        content: "";
        background: var(--grey-light);
        height: 1px;
        top: 50%;
        position: absolute;
    }
    span::before {
        left: 0;
        width: 40%;
    }
    span::after {
        right: 0;
        width: 40%;
    }

    &__google {
        font-size: 16px;
        border-radius: 4px;
        text-decoration: none;
        color: white;
        text-align: center;
        border: 1px solid white;
        display: block;
        line-height: 50px;
        background: url('/assets/logo_googleg_48dp.svg') 24px center no-repeat;
    }
}

.text {
    margin: var(--i-m) auto;
    
    h1 {
        color: white;
        font-size: var(--xxxl);
        text-align: center;
        
    }
    > p {
        font-size: var(--m);
        margin-top: 20px;
        text-align: center;
        color: white;
        opacity: .9;
    }

    footer {
        color: white;
        font-size: 16px;
        margin-top: 230px;

        p {
            margin-bottom: 22px;
        }
    }
}