<app-header-black></app-header-black>
<main>
  <article>
    <figure><img src="" alt=""></figure>
    <aside>
      <figure><img src="https://file.fitgum.ru/{{profile?.photo}}" alt=""></figure>
      <h1>{{profile?.name}}</h1>
      <span>Available</span>

      <ul class="profile-socials-list">
        <li>
          <a href="">
            <img src="/assets/socials-icon/skype.svg">
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/socials-icon/facebook.svg">
          </a>
        </li>
        <li>
          <a href="">
            <img src="/assets/socials-icon/twitter.svg">
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <span>Email</span>
          <a href="">kuvalis.mandy@graham.biz</a>
        </li>
        <li>
          <span>Телефон</span>
          <a class="" href="">8801849839300</a>
        </li>
        <li>
          <span>Город</span>
          <a href="">Москва</a>
        </li>
      </ul>
      <a href="">Сообщение</a>
    </aside>
    <section>
      <h1>About</h1>
      <p>{{profile?.description}}</p>
    </section>
    <section class="services">
      <h1>Услуги <a href="">Add Service</a></h1>
      <ul>
        <li>
          <article>
            <figure>
              <img src="https://file.fitgum.ru/news/previews/2ce82.jpg">
            </figure>
            <footer>
              <h3>Service Name</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita sit id consequatur rem laboriosam illum iusto vitae optio perferendis deleniti cupiditate.</p>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <figure>
              <img src="https://file.fitgum.ru/news/previews/2ce82.jpg">
            </figure>
            <footer>
              <h3>Service Name</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita sit id consequatur rem laboriosam illum iusto vitae optio perferendis deleniti cupiditate.</p>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <figure>
              <img src="https://file.fitgum.ru/news/previews/2ce82.jpg">
            </figure>
            <footer>
              <h3>Service Name</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, expedita sit id consequatur rem laboriosam illum iusto vitae optio perferendis deleniti cupiditate.</p>
            </footer>
          </article>
        </li>
      </ul>
    </section>
    <section class="experience">
      <h1>Опыт</h1>
      <ul>
        <li>
          <article>
            <div>
              <img src="/assets/expience-images.jpg">
            </div>
            <div>
              <h3>Luova Studio</h3>
              <span>Designer</span>
              <p>19 Mar 2018 - 19 Mar 2019</p>
            </div>
          </article>
        </li>
        <li>
          <article>
            <div>
              <img src="/assets/expience-images.jpg">
            </div>
            <div>
              <h3>Luova Studio</h3>
              <span>Designer</span>
              <p>19 Mar 2018 - 19 Mar 2019</p>
            </div>
          </article>
        </li>
      </ul>
    </section>
    <section class="education">
      <h1>Образование</h1>
      <ul>
        <li>
          <article>
            <h3>K National University</h3>
            <span>Master Degree</span>
            <p>2016-2011</p>
          </article>
        </li>
        <li>
          <article>
            <h3>International L School</h3>
            <span>B1, Detuch</span>
            <p>19 Mar 2019 - 19 Mar 2020</p>
          </article>
        </li>
      </ul>
    </section>
    <section class="photo">
      <h1>Фото</h1>
      <ul>
        <li>
          <img src="/assets/profile-images-1.jpg">
        </li>
        <li>
          <img src="/assets/profile-images-2.jpg">
        </li>
        <li>
          <img src="/assets/profile-images-3.jpg">
        </li>
        <li>
          <img src="/assets/profile-images-4.jpg">
        </li>
        <li>
          <img src="/assets/profile-images-5.jpg">
        </li>
        <li>
          <img src="/assets/profile-images-6.jpg">
        </li>
      </ul>
    </section>
  </article>
</main>
