:host {
    height: 100%;
    display: block;
}
article {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: "figure figure" "aside ." "aside ." "aside ." "aside ." "aside .";

    aside {
        grid-area: aside;
        width: 240px;
        margin: 0 auto;

        figure {
            width: 160px;
            height: 160px;
            background: black;
            border-radius: 50%;
            position: relative;
            margin-top: -80px;
            border: 3px solid white;
            overflow: hidden;

            img {
                max-height: 100%;
            }
        }
        h1 {
            font-weight: 600;
            font-size: 26px;
            margin-top: 25px;
            margin-bottom: 4px;
            color: var(--dark-black);
        }
        > span:first-of-type {
            font-size: 16px;
            font-weight: 600;
            display: block;
            color: rgba(14, 21, 25, .74);

            &::before {
                content: "";
                display: inline-block;
                width: 8px;
                height: 8px;
                background: #29b2a4;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
        ul.profile-socials-list {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(3, 38px);
          grid-gap: 15px;
          margin: 25px 0;

          li {
            margin-bottom: 0;
            a {
              width: 38px;
              height: 38px;
            }
          }
        }

        ul {
            list-style: none;

            li:first-child a {
                color: var(--purple);
            }
            li:not(:first-child) a {
                color: var(--dark-black);
            }
            li {
                margin-bottom: 10px;

                span {
                    font-size: 14px;
                    text-transform: uppercase;
                    color: var(--grey-text);
                }
                a {
                    display: block;
                    text-decoration: none;
                    font-size: 18px;
                }
            }
        }
        > a:last-child {
            line-height: 36px;
            background: var(--purple);
            padding: 0 25px;
            display: inline-block;
            border-radius: 4px;
            color: white;
            text-decoration: none;
            margin-top: 25px;
        }
    }
    > figure {
        grid-area: figure;
        height: 420px;
        background: black;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    section {
        width: 870px;

        &:first-of-type {
            margin-top: 25px;
        }
        h1 {
            font-weight: normal;
            font-size: 24px;
            line-height: 77px;
            color: var(--dark-black);
        }
        p {
            font-size: 16px;
            color: var(--grey-text);
        }
    }

    section.services {
      h1 {
        a {
          font-weight: 600;
          font-size: 16px;
          text-decoration: none;
          color: var(--purple);
          margin-left: 15px;
        }
      }

      > div.services-list {
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-gap: 30px;

        article {
          display: flex;
          flex-direction: column;
          border: 1px solid rgba(49, 61, 79, 0.1);
          border-radius: 8px;
          
          figure {
            height: auto;
            margin: -1px -1px 0;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            img {
              display: block;
            }
          }

          header {
            padding: 0 15px 15px;

            h1 {
              line-height: 44px;
              font-weight: 600;
              font-size: 16px;
              color: var(--dark-black);
            }

            p {
              font-size: 14px;
              line-height: 22px;
              color: var(--grey-text);
            }
          }
        }
      }
    }

    section.experience {
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 370px);
        grid-gap: 30px;

        li {
          border: 1px solid rgba(185, 185, 185, 0.5);
          border-radius: 4px;
          padding: 15px;

          article {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            div {

              img {
                display: block;
              }

              h1 {
                font-weight: 600;
                font-size: 18px;
                line-height: 1.2;
                color: var(--dark-black);
              }

              span {
                line-height: 22px;
                font-size: 14px;
              }

              &.experience__text-block {
                margin-left: 15px;
              }

              time {
                font-size: 14px;
                color: var(--grey-text);
                display: block;
              }
            }
          }
        }
      }
    }

    section.education {
      ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 370px);
        grid-gap: 30px;

        li {
          border: 1px solid rgba(185, 185, 185, 0.5);
          border-radius: 4px;
          padding: 15px;

          article {
            display: flex;
            flex-direction: column;

            h1 {
              font-weight: 600;
              font-size: 18px;
              line-height: normal;
              color: var(--dark-black);
            }

            span {
              line-height: 22px;
              font-size: 14px;
            }

            time {
              display: block;
              font-size: 14px;
              color: var(--grey-text);
            }
          }
        }
      }
    }

    section.photo {
      ul {
        margin-bottom: 50px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-gap: 30px;

        li {
          border-radius: 8px;
          overflow: hidden;

          img {
            max-width: 100%;
            display: block;
          }
        }
      }
    }
}
