:host {
    height: 100%;
    display: block;
}

.container {
  max-width: 1135px;
  margin: -70px auto 0;
  
}

.area-images {
  width: auto;
  height: 421px;
  overflow: hidden;
  img {
    max-width: 100%;
    display: block;
  }
}

.club {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 65px;

  &__block-images {
    margin-top: 25px;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border: 3px solid white;

    img {
      max-width: 77%;
      margin: auto;
    }
  }

  &__block-data {
    flex: 1 1 100%;
    padding: 25px 0 0;
  }

  &__images {
    width: 200px;
    height: 200px;
    display: block;
  }

  &__name {
    font-size: 34px;
    color: var(--dark);
  }

  &__profile-link {
    font-size: 16px;
    display: block;
    color: var(--light);
  }
}

.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 25px;

  &__items {
    margin-right: 15px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    padding: 0 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
    
    &:hover {
      background: var(--orange);
      color: var(--white);
    }

    &_blue {
      border: 1px solid var(--orange);
      color: var(--orange);
    }
  }
}

.post-stat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;

  display: flex;
  line-height: 44px;

  &__items {
    margin-right: 20px;
    font-size: 18px;
    color: var(--light);
  }

  b {
    font-size: 22px;
    color: var(--dark);
  }
}

.content {
  width: 1135px;
  margin: 0 auto;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 65px;
}

.list-submenu {
  list-style: none;
  border: 1px solid var(--border-light);
  border-radius: 6px;
  overflow: hidden;

  &__items {
    

    & + * {
      border-top: 1px solid var(--border-light);
    }
  }

  &__links {
    padding: 0 25px;
    font-size: 18px;
    line-height: 58px;
    display: block;
    cursor: pointer;
    text-align: center;
    color: var(--light);
    text-decoration: none;
    transition: all .3s;

    &_active {
      color: var(--dark);
    }
    &:hover {
      color: var(--dark);
    }
  }
}

.headline {
  font-size: 24px;
  line-height: 77px;
  color: var(--dark);
}


.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-column-gap: 30px;
}

.services-block {
  text-align: center;
  h3 {
    font-size: 18px;
    color: var(--dark);
    font-weight: 600;
    line-height: 44px;
  }
  &__image {
    transition: all .3s;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow);
    font-size: 0;
    cursor: pointer;
  
    &:hover {
      box-shadow: var(--shadow-h);
    }
    img {
      height: 100%;
    }
  }

  &__headline {
    font-weight: 600;
    font-size: 18px;
    color: var(--dark);
    line-height: 44px;
  }

  &__desc {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--light);
  }
}

.hour-and-members {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  grid-column-gap: 30px;
}

.hours {
  &__headline {
    font-size: 24px;
    line-height: 77px;
    color: var(--dark);
  }
}

.hours-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__items {
    display: flex;
    line-height: 44px;
  }

  &__week {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark);
  }

  &__time {
    margin-left: auto;
    font-size: 16px;
    color: var(--light);
  }
}

.members-list {
  list-style: none;
  margin: 0;
  padding: 0;

  &__items {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
  }
  &__image {
    margin-right: 22px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    img {
      max-width: 100%;
      display: block;
      
    }
  }

  &__content {
    padding: 5px 0;

    h3 {
      line-height: 22px;
      font-weight: 600;
      font-size: 16px;
      color: var(--dark);
    }

    span {
      display: block;
      font-size: 14px;
      color: var(--light);
    }
  }
}

.photo {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 170px);
    grid-gap: 30px;

    li {
      border-radius: 8px;
      overflow: hidden;
      box-shadow: var(--shadow);
      transition: all .3s;

      &:hover {
        box-shadow: var(--shadow-h);
      }

      img {
        cursor: pointer;
        width: auto;
        height: 214px;
        display: block;
      }
    }
  }
}
