<app-header-black></app-header-black>
<main>
  <div class="area-images"></div>
  <section class="section-profile-club">
    <div class="container">
      <div class="club">
        <div class="club__block-images" [ngStyle]="{'background-color': '#'+club.color}">
          <img class="club__images" src="https://file.fitgum.ru/{{club?.logo}}" alt="">
        </div>
        <div class="club__block-data">
          <ul class="tags-list">
            <li class="tags-list__items tags-list__items_blue">{{club?.type.title}}</li>
            <!-- <li class="tags-list__items tags-list__items_yellow">Gym</li> -->
          </ul>
          <h1 class="club__name">{{club?.title}}</h1>
          <span class="club__profile-link">@{{club?.slug}}</span>
          <ul class="post-stat-list">
            <li class="post-stat-list__items"><b>{{club?.views}}</b> Просмотров</li>
            <!-- <li class="post-stat-list__items"><b>100K</b> Followers</li>
            <li class="post-stat-list__items"><b>200</b> Following</li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div>
      <ul class="list-submenu">
        <li class="list-submenu__items">
          <a class="list-submenu__links list-submenu__links_active" href="#">О клубе</a>
        </li>
        <li class="list-submenu__items">
          <a class="list-submenu__links" href="#">Услуги</a>
        </li>
        <li class="list-submenu__items">
          <a class="list-submenu__links" href="#">Время работы</a>
        </li>
        <li class="list-submenu__items">
          <a class="list-submenu__links" href="#">Фото</a>
        </li>
        <li class="list-submenu__items">
          <a class="list-submenu__links" href="#">Команда</a>
        </li>
        <li class="list-submenu__items">
          <a class="list-submenu__links" href="#">Магазин</a>
        </li>
        <li class="list-submenu__items">
          <a class="list-submenu__links" href="#">Карта</a>
        </li>
      </ul>
    </div>
    <div class="page">
      <section class="about">
        <h2 class="headline">О клубе</h2>
        <div class="innerHTML" [innerHTML]="club?.content"></div>
      </section>
      <section class="services">
        <h2 class="headline">Услуги</h2>
        <ul class="services-list">
          <li class="services-list__items">
            <article class="services-block">
              <div class="services-block__image">
                <img src="./assets/services-1.jpg" alt="">
              </div>
              <h3 class="services-block__headline">Finca De Girasoles</h3>
              <p class="services-block__desc">MELISSA LEAPMAN</p>
            </article>
          </li>
          <li class="services-list__items">
            <article class="services-block">
              <div class="services-block__image">
                <img src="./assets/services-2.jpg" alt="">
              </div>
              <h3 class="services-block__headline">Finca De Girasoles</h3>
              <p class="services-block__desc">MELISSA LEAPMAN</p>
            </article>
          </li>
          <li class="services-list__items">
            <article class="services-block">
              <div class="services-block__image">
                <img src="./assets/services-3.jpg" alt="">
              </div>
              <h3 class="services-block__headline">Finca De Girasoles</h3>
              <p class="services-block__desc">MELISSA LEAPMAN</p>
            </article>
          </li>
        </ul>
      </section>
      <div class="hour-and-members">
        <div class="hours">
          <h3 class="hours__headline">Services hours</h3>
          <ul class="hours-list">
            <li class="hours-list__items">
              <span class="hours-list__week">Mon</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
            <li class="hours-list__items">
              <span class="hours-list__week">Tue</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
            <li class="hours-list__items">
              <span class="hours-list__week">Wed</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
            <li class="hours-list__items">
              <span class="hours-list__week">Thu</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
            <li class="hours-list__items">
              <span class="hours-list__week">Fri</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
            <li class="hours-list__items">
              <span class="hours-list__week">Sat</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
            <li class="hours-list__items">
              <span class="hours-list__week">Sun</span>
              <span class="hours-list__time">8:30 - 23:00</span>
            </li>
          </ul>
        </div>
        <div class="members">
          <h3 class="hours__headline">Teams Memebers</h3>
          <ul class="members-list">
            <li class="members-list__items">
              <div class="members-list__image">
                <img src="./assets/teams-members.jpg" alt="">
              </div>
              <div class="members-list__content">
                <h3>Mabelle Sanchez</h3>
                <span>Owner</span>
              </div>
            </li>
            <li class="members-list__items">
              <div class="members-list__image">
                <img src="./assets/teams-members.jpg" alt="">
              </div>
              <div class="members-list__content">
                <h3>Mabelle Sanchez</h3>
                <span>Triner</span>
              </div>
            </li>
            <li class="members-list__items">
              <div class="members-list__image">
                <img src="./assets/teams-members.jpg" alt="">
              </div>
              <div class="members-list__content">
                <h3>Mabelle Sanchez</h3>
                <span>Triner</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <section class="photo">
        <h2 class="headline">Фото</h2>
        <ul>
          <li>
            <img src="/assets/profile-images-1.jpg">
          </li>
          <li>
            <img src="/assets/profile-images-2.jpg">
          </li>
          <li>
            <img src="/assets/profile-images-3.jpg">
          </li>
          <li>
            <img src="/assets/profile-images-4.jpg">
          </li>
          <li>
            <img src="/assets/profile-images-5.jpg">
          </li>
          <li>
            <img src="/assets/profile-images-6.jpg">
          </li>
        </ul>
      </section>
    </div>
  </section>
</main>
<app-footer></app-footer>
