:host > div {
    position: relative;
}

.intro-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: var(--blue);
  line-height: 88px;
  margin-top: 44px;

  &__list {
    position: relative;
    font-size: 18px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: -20px;
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: .6;
      background: #fff;
    }

    &:first-child::before {
      content: none;
    }
  }
}

.preview {
    height: 515px;
    overflow: hidden;
    background: black;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0, .4);
    }

    img {
        width: 100%;
        max-width: 100%;
    }
}
.intro {
    position: absolute;
    top: 0;
    left: 90px;
    right: 90px;
    bottom: 0;
    display: grid;
    align-content: center;

    h1 {
        font-size: 48px;
        color: white;
    }
    > a {
        line-height: 56px;
        padding: 0 50px;
        display: inline-block;
        border: 1px solid white;
        color: white;
        border-radius: 8px;
        text-decoration: none;
        font-size: 18px;
        justify-self: baseline;
        transition: all .3s;
        
        &:hover {
            color: var(--purple);
            background: var(--white);
        }
    }

    footer {
        font-size: 18px;
        line-height: 88px;
        margin-bottom: 44px;

        time {
            color: white;
            margin-right: 15px;
        }
        span {
            color: white;
            &::before {
                content: "";
                line-height: 44px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                opacity: .6;
                display: inline-block;
                background: white;
                margin-right: 15px;
                vertical-align:  middle;
            }
            a {
                color: white;
            }
        }
    }
}
