:host > div {
    position: relative;
}
.preview {
    height: 615px;
    overflow: hidden;
    background: black;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0, .4);
    }

    img {
        max-width: 100%; 
    }
}
.intro {
    position: absolute;
    top: 100px;
    left: 90px;
    right: 90px;
    bottom: 0;
    display: grid;
    align-content: center;

    h1 {
        font-size: 48px;
        color: white;
        font-weight: normal;
        line-height: 74px;
    }
    p {
        font-size: 18px;
        color: white;
        margin: 45px 0 45px;
    }
    > a {
        line-height: 56px;
        padding: 0 50px;
        display: inline-block;
        border: 1px solid white;
        color: white;
        border-radius: 8px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        justify-self: baseline;
        font-weight: 600;
        letter-spacing: 2px;
    }

    footer {
        font-size: 18px;
        line-height: 88px;

        time {
            color: white;
            text-transform: uppercase;
            margin-right: 15px;
        }
        span {
            color: white;
            &::before {
                content: "";
                line-height: 44px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                opacity: .6;
                display: inline-block;
                background: white;
                margin-right: 15px;
                vertical-align:  middle;
            }
            a {
                color: white;
            }
        }
    }
}