:host > div {
    position: relative;
}
.preview {
    height: 615px;
    overflow: hidden;
    background: black;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(135deg, black, transparent, black);
        opacity: .8;
    }

    img {
        max-width: 100%;
        
    }
}
.intro {
    position: absolute;
    top: 100px;
    left: 90px;
    bottom: 0;
    display: grid;
    align-content: center;

    h1 {
        margin: auto;
        font-size: 84px;
        color: white;
        font-weight: normal;
        line-height: 84px;
    }
    p {
        font-size: 18px;
        color: white;
        margin: 45px 0 45px;
    }
    a {
        line-height: 78px;
        padding: 0 50px;
        display: inline-block;
        background: white;
        color: var(--purple);
        border-radius: 8px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        justify-self: baseline;
    }
}