<app-header-white></app-header-white>
<section class="start">
  <h1>О нас</h1>
</section>
<article class="simple simple_play">
  <figure><img src="/assets/about/about-us.jpg" alt=""></figure>
  <h1>О нас</h1>
  <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
</article>
<article class="medium">
  <figure><img src="/assets/about/ceo.jpg" alt=""></figure>
  <header><h1>Jont Henry - CEO B&C</h1></header>
  <p>Tempor malesuada at id nisi. Etiam nec ia massa. <a href="">Nullam felis</a>. Bitur dum at diam id finibus. Quisque finibus laoreet nibh, at ultrieces risus</p>
  <button class="prev"></button>
  <button class="next"></button>
</article>
<article class="simple">
  <figure><img src="/assets/about/facilities.jpg" alt="Наши услуги"></figure>
  <h1>Наши услуги</h1>
  <p>Прекрасная безмятежность овладела всей моей душой, подобно этим сладким весенним утрам, которыми я наслаждаюсь всем своим сердцем. Я один и чувствую очарование существования в этом месте, которое было создано для блаженства душ, подобных моей. Я так счастлив, мой дорогой друг, настолько поглощен изысканным чувством простого спокойного существования, что пренебрегаю своими талантами.</p>
</article>
<app-news></app-news>
<app-footer></app-footer>