<app-header-black></app-header-black>
<section class="start">
  <h1>Связаться с нами</h1>
  <p>Оставьте нам свою информацию.</p>
</section>
<div>
  <section class="address">
    <h1>Адрес</h1>
    <p>Если вы заинтересованы в работе с нами, пожалуйста, свяжитесь с нами.</p>
    <ul>
      <li>
        <span>Адрес</span>
        <address>Пресненская набережная, Москва 12</address>
      </li>
      <li>
        <span>Телефон</span>
        <address>+7 (495) 000-00-00</address>
      </li>
      <li>
        <span>E-mail</span>
        <address>info@gym.earth</address>
      </li>
    </ul>
  </section>
  <section class="message">
    <h1>Сообщение</h1>
    <form action="">
      <label for="">Введите адрес электронной почты</label>
      <input type="text" placeholder="brekke.monica@merl.us">
      <label for="">Название</label>
      <input type="text" placeholder="Name">
      <label for="">Твоё сообщение</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <input type="submit" value="Отправить сообщение">
    </form>
  </section>
</div>
<app-map></app-map>
<app-join></app-join>
<app-footer></app-footer>
