<section class="experienced">
    <h1>Фитнес Опыт</h1>
    <p>Сертифицированные персональные тренеры мирового класса,<br> энергичные инструкторы и инновационные фитнес-программы.</p>
    <div>
      <!-- <article *ngFor="let trainer of trainers" [routerLink]="['/trainers', trainer.slug]"> -->
        <p class="isnot" *ngIf="!trainers?.length">Тренеры не добавлены.</p>
        <article *ngFor="let trainer of trainers" >
        <figure><img src="{{trainer?.avatar}}" alt=""></figure>
        <header>
          <h1>{{trainer?.name}}</h1>
          <p>{{trainer?.email}}</p>
          <a class="see" href=""></a>
        </header>
      </article>
    </div>
  </section>