<section class="experienced">
    <h1>Фитнес Опыт</h1>
    <p>Сертифицированные персональные тренеры, энергичные инструкторы и фитнес-программы.</p>
    <!-- <button class="prev" (click)=left()></button>
    <button class="next" (click)=next()></button> -->
    <div>
      <!-- <article *ngFor="let trainer of trainers" [routerLink]="['/trainers', trainer.slug]"> -->
        <p class="isnot" *ngIf="!trainers?.length">Тренеры не добавлены.</p>
        <div [ngStyle]="{'transform': 'translateX(' + transform + 'px)'}">
        <article *ngFor="let trainer of trainers" >
        <figure><img src="{{trainer?.avatar}}" alt=""></figure>
        <header>
          <h1>{{trainer?.name}}</h1>
          <p>{{trainer?.user_role.name}}</p>
          <a class="see" href=""></a>
        </header>
      </article>
    </div>
    </div>
  </section>