<section class="experienced">
    <h1>Fitness Experienced</h1>
    <p>World-class certified personal trainers, energetic class<br> instructors, and innovative fitness programs.</p>
    <div>
      <article>
        <figure><img src="https://img5.goodfon.ru/wallpaper/big/8/d7/maksim-gustarev-nastia-devushka-litso-ruki-vzgliad-steklo-po.jpg" alt=""></figure>
        <header>
          <h1>Willie Canon</h1>
          <p>Owner this Team</p>
          <a class="see" href=""></a>
        </header>
      </article>
      <article>
        <figure><img src="https://img5.goodfon.ru/wallpaper/big/7/63/vzgliad-devushka-litso-poza-model-volosy-figura-alessandra-a.jpg" alt=""></figure>
        <header>
          <h1>Cory Allen</h1>
          <p>Owner this Team</p>
          <a class="see" href=""></a>
        </header>
      </article>
      <article>
        <figure><img src="https://img5.goodfon.ru/wallpaper/big/3/11/myshtsy-shtanga-pose-trenirovka-atlet-workout-trenazhernyi-z.jpg" alt=""></figure>
        <header>
          <h1>Stephen Hopkins</h1>
          <p>Owner this Team</p>
          <a class="see" href=""></a>
        </header>
      </article>
      <article>
        <figure><img src="https://img5.goodfon.ru/wallpaper/big/8/d7/maksim-gustarev-nastia-devushka-litso-ruki-vzgliad-steklo-po.jpg" alt=""></figure>
        <header>
          <h1>Willie Canon</h1>
          <p>Owner this Team</p>
          <a class="see" href=""></a>
        </header>
      </article>
    </div>
  </section>