.experienced {
    margin-top: 35px;
    position: relative;
    
    > h1 {
        font-size: 48px;
        margin-left: 135px;
    }
    > p {
        font-size: 18px;
        margin: 25px 0 50px 135px;
    }
    
    > div {
        > div {
            transition: all .3s;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 30px;
        }
        overflow: hidden;
        overflow-x: scroll;

        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        padding: 0 0 37px 135px;
        
        &::-webkit-scrollbar { width: 0 !important }
        
        article {
            border-radius: 6px;
            width: 370px;
            height: 380px;
            position: relative;
            transition: all .3s;
            box-shadow: var(--shadow);
            
            &:hover {
                box-shadow: var(--shadow-h);
                cursor: pointer;
            }

            figure {
                left: 0px;
                top: 0px;
                right: 0px;
                position: absolute;
                height: 280px;
                overflow: hidden;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                
                img {
                    max-width: 100%;
                }
            }
            header {
                position: relative;
                display: grid;
                align-content: center;
                height: 100px;
                padding: 0 25px;
                top: 280px;
                
                h1 {
                    font-size: 24px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }

    .see {
        display: inline-block;
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background: var(--purple) url('/assets/write.svg') 50% 50% no-repeat;
        right: 25px;
        top: 50%;
        margin-top: -24px;
    }
}
.prev,
.next {
    width: 59px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid var(--purple);
    cursor: pointer;
    position: absolute;
    top: 30px;
    transition: all .3s;
    
}
.prev {
    background: url(/assets/icon/prev.svg) 50% 50% no-repeat;
    margin-right: 30px;
    right: 194px;
    

    &:hover {
        background-position: 30% 50%;
    }
}
.next {
    background: url(/assets/icon/next.svg) 50% 50% no-repeat;
    right: 135px;
    &:hover {
        background-position: 70% 50%;
    }
}