<agm-map
    [latitude]="lat"
    [longitude]="lng"
    
    [zoom]="11"
    [streetViewControl]="true"
    [zoomControl]="true"
    [scrollwheel]="true">
    <agm-marker *ngFor="let marker of markers"
    [iconUrl]="'/assets/icon/geo.svg'"
    [latitude]="marker.latitude"
    [longitude]="marker.longitude"
    (markerClick)="selectClub(marker)">
      <agm-snazzy-info-window [maxWidth]="200"  [closeWhenOthersOpen]="true">
        <ng-template>
            <article class="pop" [routerLink]="['/clubs', marker.slug]">
              <figure [ngStyle]="{'background-color': '#'+marker.color}"><img src="https://file.fitgum.ru/{{marker.logo}}" alt=""></figure>
              <header><h1>{{marker?.title}}</h1></header>
              <p>{{marker.description}}</p>
              <footer>Присоединиться</footer>
            </article>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>

    <agm-marker *ngFor="let marker of vacanciesMarkers"
    [iconUrl]="'/assets/icon/geo.svg'"
    [latitude]="marker.latitude"
    [longitude]="marker.longitude">
    <!-- [isOpen]="true" -->
      <agm-snazzy-info-window [maxWidth]="200">
        <ng-template>
            <article class="pop" [routerLink]="['/clubs', marker.slug]">
              <figure [ngStyle]="{'background-color': '#'+marker.color}"><img src="https://file.fitgum.ru/{{marker.logo}}" alt=""></figure>
              <header><h1>{{marker?.title}}</h1></header>
              <p>{{marker.description}}</p>
              <footer>Откликнуться</footer>
            </article>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
