<h1>chat</h1>
<section>

  <label for="token">Youre token</label>
  <br>
  <textarea id="token" >{{token}}</textarea>

  <br>
  <label for="userId">User</label>
  <br>
  <input id="userId" [(ngModel)]="userId">

  <br>
  <label for="receivers">receivers</label>
  <br>
  <input id="receivers" [(ngModel)]="receivers">

  <br>
  <label for="chatId">chatId</label>
  <br>
  <input id="chatId" [(ngModel)]="chatId">
  
  <br>
  <label for="message">message</label>
  <br>
  <textarea id="message" >{{message}}</textarea>
  <br>
  <button (click)="sendMessage()">Send</button>
  <button (click)="getMessage()">Get</button>




</section>
<!-- <button @click="addToken" class="btn btn-success">Set token</button>
<button @click="getToken" class="btn btn-primary">Get token</button>
<input placeholder="Receivers ID (через запятую)" class="form-control"  v-model="receivers"/>
<input placeholder="Chat ID" class="form-control" v-model="chatId"/>


<textarea placeholder="Message" class="form-control" id="message" v-model="message"></textarea>
<button @click="sendMessage" class="btn btn-success">Send</button>
<button @click="getMessages" class="btn btn-success">Get history</button>


<div class="messages">
  <textarea placeholder="Messages" readonly class="form-control" id="messages">{{messages.join('\n')}}</textarea>
</div> -->
