.profile {
    width: 250px;
    background: var(--purple);
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    figure {
        display: block;
        width: 80px;
        height: 80px;
        background-size: contain;
        border-radius: 50%;
        overflow: hidden;
        margin: 30px auto 30px;
        border: 2px solid var(--white);
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    &__xp {
        margin: 30px;
        p {
            font-size: 14px;
            color: var(--white);
            font-weight: 600;
            line-height: 44px;
            span {
                color: var(--yellow);
            }
        }
        &__progress {
            height: 14px;
            background: rgba(0,0,0,.3);
            border-radius: 10px;

            div {
                width: 60%;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: var(--shadow);
                background: linear-gradient(45deg, var(--orange), var(--yellow));
                height: 100%;
            }
        }
    }
    nav {
        a {
            display: block;
            margin: 0 20px;
            line-height: 44px;
            text-decoration: none;
            font-size: 16px;
            padding-left: 30px;
            border-radius: 4px;
        }
        a.active {
            color: var(--purple);
        }
    }

    &__user::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(/assets/icon/user.svg) 50% 50% no-repeat;
        line-height: 44px;
        font-size: 0;
        vertical-align: sub;
        margin-right: 14px;
    }
    &__chat::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(/assets/icon/chat.svg) 50% 50% no-repeat;
        line-height: 44px;
        font-size: 0;
        vertical-align: sub;
        margin-right: 14px;
    }
    &__news::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(/assets/icon/thunder-move.svg) 50% 50% no-repeat;
        line-height: 44px;
        font-size: 0;
        vertical-align: sub;
        margin-right: 14px;
    }
    &__calendar::before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(/assets/icon/calendar.svg) 50% 50% no-repeat;
        line-height: 44px;
        font-size: 0;
        vertical-align: sub;
        margin-right: 14px;
    }
}