.white {
    background: white;

    app-about {
        h1, p {
            color: var(--dark);
        }
    }
    .list-submenu {
        border-color: var(--border-light);
      
        &__items {
        
          & + * {
            border-color: var(--border-light);
          }
        }
    }
    .club {

        &__block-images {
            border-color: var(--white);
        }
    }

    .area-images + section {
        border-bottom: 1px solid var(--border-light);
    }
    .btn-arrow,
    .calendar,
    .avents-list__items,
    .data-list__items {
        background: var(--white);
    }
    .btn-arrow-center {
       color: var(--light);
       background: var(--white);
    }
    .calendar .calendar__day,
    .btn-l,
    .btn-r,
    .calendar__head,
    .data-list__items {
        border-color: var(--border-light);
    }
    .profile nav a.active {
        background: var(--white);
    }
    .profile nav a {
        color: var(--white);
    }
    .dashboard section form label {
        color: var(--light);
    }
    .dashboard section footer,
    .dashboard section > h1,
    .chat,
    .chanels,
    .messages header,
    .messages footer {
        border-color: var(--border-light);
    }
    .dashboard section form input,
    .dashboard section form textarea {
        background: var(--white);
        border-color: var(--border-light);
        color: var(--dark);
        
    }
    app-header-white .header {
        border-bottom-color: var(--white);

        nav {
            a {
                color: var(--white);
            }
            .signup {
                color: var(--purple);
                background: var(--white);
                border-color: var(--white);
                
                &:hover {
                    color: var(--white);
                }    
            } 
        }
    }
    app-header-black .header {
        border-bottom-color: var(--white);

        nav {
            a {
                color: var(--dark);
            }
            .signup {
                color: var(--purple);
                background: var(--white);
                border-color: var(--whit);
                
                &:hover {
                    color: var(--white);
                }    
            } 
        }
    }

    app-welcome .intro {
        h1 { color: var(--black) }
        p { color: var(--black) }
        a {
            background: var(--purple);
            
            &:hover { color: var(--purple) }
        }
    }
    .newsletter input[type="text"] {
        border-color: var(--border-light)
    }
    .podval {
        border-color: var(--border-light)
    }
    .payment a {
        border-color: var(--border-light)
    }
    app-header-black .header {
        border-color: var(--border-light)
    }
    
    app-trainers .experienced {
        background: var(--background-light);
        
        article { background: var(--white) }
    }
    
    app-recomendation .products {
        > h1 { color: var(--dark) }
        article {
            h1 { color: var(--dark) }
        }
        footer {
            color: var(--light)
        }
    }
    
    app-news .news {
        h1 { color: var(--dark) }
    }
    app-home-clubs .clubs {
        h1 { color: var(--dark) }
    }

    app-explore .explore {
        > h1 { color: var(--dark) }
        > p { color: var(--light) }
    }
    .experienced,
    .clubs {
        > h1 { color: var(--black) }
        > p { color: var(--black) }
        header {
            h1 { color: var(--dark) }
            p { color: var(--light) }
        }
    }
    app-products-list .products {
        background: var(--background-light);

        article { background: var(--white) }
    }


    .dashboard {
        background: var(--background-light);

        section { background: var(--white) }
    }
    .dashboard  {
        background: var(--background-light)
    }

    app-services p {
        background: var(--background-light)
    }
    
    app-clubs .clubs {
        background: var(--background-light);
        
        article { background: var(--white) }
    }
}
  
