.experienced {
    background: var(--bg-b-grey);
    padding: 60px 0;
    
    div {
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        justify-content: center;
        
        article {
            border-radius: 6px;
            width: 370px;
            height: 380px;
            position: relative;
            transition: all .3s;
            box-shadow: 0 18px 36px -4px rgba(0, 0, 0, .04);
            background: white;
            
            &:hover {
                cursor: pointer;
            }

            figure {
                left:0px;
                top: 0px;
                right: 0px;
                position: absolute;
                height: 280px;
                background: black;
                overflow: hidden;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                
                img {
                    max-height: 100%;
                }
            }
            header {
                position: relative;
                display: grid;
                align-content: center;
                height: 100px;
                padding: 0 25px;
                top: 280px;
                
                h1 {
                    font-size: 24px;
                    color: var(--dark-black);
                    opacity: .9;
                }
                p {
                    font-size: 16px;
                    color: rgba(14, 21, 25, .6);
                }
            }
        }
    }

    .see {
        display: inline-block;
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        background: var(--purple-light) url('/assets/write.svg') 50% 50% no-repeat;
        right: 25px;
        top: 50%;
        margin-top: -24px;
    }
}