.dashboard {
    background: var(--bg-b-grey);
    display: grid;
    grid-template-columns: auto 1fr;
}

.top-bar {
  padding: 30px 30px 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;

  &__date-btn {
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
    padding: 16px 36px;
    text-align: center;
    line-height: 1.2;
    border: none;
  }

  &__week {
    border: 1px solid rgba(117, 122, 125, 0.2);
    border-radius: 4px 0px 0px 4px;
    color: var(--grey-text);
  }

  &__month {
    color: var(--purple-btn);
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(145, 0, 255, 0.06);
    border-radius: 0px 4px 4px 0px;
  }

  &__l {

  }

  &__r {

  }

  &__r {
    display: flex;
    align-items: center;
  }
}


.date-picker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.btn-arrow {
  border: 1px solid #DEE2EA;
  border: none;
  background: #fff;
  padding: 12px;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}

.btn-l {
  border-radius: 6px 0 0 6px;
  border-right: 1px solid #DEE2EA;
}

.btn-r {
  border-radius: 0 6px 6px 0;
  border-left: 1px solid #DEE2EA;
}

.btn-arrow-center {
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  color: var(--grey-text);
  background-color: white;
  padding: 0 25px;
  height: 48px;

  span {
    display: block;
  }
}


.btn-create {
  cursor: pointer;
  border: none;
  margin-left: 20px;
  background: var(--purple);
  border-radius: 6px;
  padding: 16px 30px;
  line-height: 1.2;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #fff;
}

.calendar {
  max-width: 1127px;
  margin: 30px auto 35px;
  background-color: #fff;
  border-radius: 6px 6px 0px 0px;

  &__event {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FF9B54;
    background-color: #FFEDE1;
    border-left: 2px solid #FF9B54;
    border-radius: 0px 4px 4px 0px;
    padding: 10px;

    &_active {
      color: #fff;
      background-color: #FF9B54;
      border-radius: 4px;
      box-shadow: 0 8px 16px rgba(149, 90, 49, .2);
    }
  }

  &__head {
    display: flex;
    border-bottom: 1px solid var(--bg-b-grey);
  }
  &__week {
    flex: 1 1 100%;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--grey-text);
    opacity: .8;
  }

  &__date {

  }

  &__row {
    border-bottom: 1px solid rgba(239, 239, 239, 0.8);
    display: flex;
    min-height: 120px;

    &:first-child {
      border-top: 1px solid rgba(239, 239, 239, 0.8);
    }
  }

  .calendar__table > div {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .calendar__day {
    height: 120px;
    border-right: 1px solid var(--bg-b-grey);
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid var(--bg-b-grey);
    color: var(--dark-black);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:nth-child(7n) {
      border-right: none;
    }
  }
  &__date-block {
    margin-bottom: 22px;
    display: flex;
    justify-content: flex-end;

    span {
      display: block;
      width: 34px;
      height: 34px;
      background-color: #fff;
      font-size: 16px;
      line-height: 34px;
      text-align: center;
      color: var(--dark-black);
      border-radius: 50%;
    }

    span.active {
      color: #fff;
      background-color: #EF5350;
    }

    span.gray {
      opacity: 0.8;
    }
  }


}
