<app-header-black></app-header-black>
<div class="dashboard">
  <aside>
    <nav>
      <a routerLink="/profile/edit" href="/profile/edit" routerLinkActive="active">Настройки</a>
      <a routerLink="/profile/chat" href="/profile/chat" routerLinkActive="active">Сообщение</a>
      <a href="">News</a>
      <a routerLink="/profile/calendar" href="/profile/calendar" routerLinkActive="active">Календарь</a>
    </nav>
  </aside>
  <section class="chat">
    <div class="top-bar">
      <div class="top-bar__l">
        <button class="top-bar__date-btn top-bar__week">Week</button>
        <button class="top-bar__date-btn top-bar__month">Month</button>
      </div>
      <div class="top-bar__r">
        <ul class="date-picker-list">
          <li class="date-picker-list__items">
            <button class="btn-arrow btn-l">
              <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.00001 0.75C9.00001 0.335786 8.66422 0 8.25001 0C8.06632 0 7.88902 0.0674089 7.75174 0.189443L0.594509 6.55142C0.284922 6.82661 0.257036 7.30067 0.532224 7.61025C0.541984 7.62123 0.552064 7.63192 0.562451 7.64231L7.71968 14.7995C8.01257 15.0924 8.48745 15.0924 8.78034 14.7995C8.92099 14.6589 9.00001 14.4681 9.00001 14.2692V0.75Z" fill="#757A7D"/>
              </svg>
            </button>
          </li>
          <li class="date-picker-list__items">
            <button class="btn-arrow-center">
              <span>April</span>
              <span>2019</span>
            </button>
          </li>
          <li class="date-picker-list__items">
            <button class="btn-arrow btn-r">
              <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M-8.58307e-06 0.75C-8.58307e-06 0.335786 0.335778 0 0.749991 0C0.933677 0 1.11098 0.0674089 1.24826 0.189443L8.40549 6.55142C8.71508 6.82661 8.74296 7.30067 8.46778 7.61025C8.45802 7.62123 8.44794 7.63192 8.43755 7.64231L1.28032 14.7995C0.987428 15.0924 0.512554 15.0924 0.219661 14.7995C0.0790085 14.6589 -8.58307e-06 14.4681 -8.58307e-06 14.2692V0.75Z" fill="#757A7D"/>
              </svg>
            </button>
          </li>
        </ul>
        <button class="btn-create">Create new</button>
      </div>
    </div>

    <div class="calendar">
      <div class="calendar__head">
        <div class="calendar__week">Sat</div>
        <div class="calendar__week">Fri</div>
        <div class="calendar__week">Thu</div>
        <div class="calendar__week">Wed</div>
        <div class="calendar__week">Tue</div>
        <div class="calendar__week">Mon</div>
        <div class="calendar__week">Sun</div>
      </div>
      <div class="">
        <div class="calendar__row">
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">31</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>1</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>2</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>3</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>4</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>5</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>6</span>
            </div>
          </div>
        </div>
        <div class="calendar__row">
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>7</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>8</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>9</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>10</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>11</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>12</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>13</span>
            </div>
            <div class="calendar__event">100m marathon</div>
          </div>
        </div>
        <div class="calendar__row">
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>14</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>15</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>16</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>17</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="active">18</span>
            </div>
            <div class="calendar__event calendar__event_active">100m marathon</div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>19</span>
            </div>
          </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>20</span>
            </div>
          </div>
        </div>
        <div class="calendar__row">
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>21</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>22</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>23</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>24</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>25</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>26</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>27</span>
          </div>
        </div>
        </div>
        <div class="calendar__row">
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>29</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>30</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span>31</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">1</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">2</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">3</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">4</span>
          </div>
        </div>
        </div>
        <div class="calendar__row">
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">5</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">6</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">7</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">8</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">9</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">10</span>
          </div>
        </div>
          <div class="calendar__col">
            <div class="calendar__date-block">
              <span class="gray">11</span>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
