<app-header-black></app-header-black>
<div class="dashboard">
  <aside>
    <nav>
      <a routerLink="/profile/edit" href="/profile/edit" routerLinkActive="active">Настройки</a>
      <a routerLink="/profile/chat" href="/profile/chat" routerLinkActive="active">Сообщение</a>
      <a href="">News</a>
      <a routerLink="/profile/calendar" href="/profile/calendar" routerLinkActive="active">Календарь</a>
    </nav>
  </aside>
  <section class="chat">
    <p>Calendar component work</p>
  </section>
</div>
<app-footer></app-footer>
