<app-header-black></app-header-black>
<div class="dashboard">
  <app-profile-aside [profile]="profile"></app-profile-aside>
  <section class="chat">
    <div class="chanels">
      <ul>
        <li>
          <section *ngFor="let chat of chats; index as i" (click)="selectChat(chat?.id, chat?.users)">
              <figure>
                  <img *ngIf="chat?.users[1].avatar" src="{{chat?.users[1].avatar}}" alt="">
                  <img *ngIf="!chat?.users[1].avatar" src="/assets/icon/profile.svg" alt="">
              </figure>
              <h1>{{chat?.users[0].name}}</h1>
              <p>The Basics Of Buying A Telescope</p>
              <footer>{{chat.updated_at | date:'mediumDate'}}</footer>
          </section>
        </li>
      </ul>
    </div>
    <section class="messages">
      <header>
        <div class="messages__answer">
          <figure>
              <img *ngIf="profile?.avatar" src="{{profile?.avatar}}" alt="">
              <img *ngIf="!profile?.avatar" src="/assets/icon/profile.svg" alt="">
          </figure>
          <h1>{{profile?.name}}</h1>
          <span *ngIf="!profile?.email_verified_at">Available</span>
        </div>
      </header>
      <ul>
        <li *ngFor="let message of messages; index as i">
          <blockquote [ngClass]="{
            'messages__me': message.user_id == userID,
            'messages__you': message.user_id != userID
          }">{{message.message}}</blockquote>
        </li>
        <li *ngFor="let newMessage of newMessages; index as i">
          <blockquote [ngClass]="{
            'messages__me': newMessage.user_id == userID,
            'messages__you': newMessage.user_id != userID
          }">{{newMessage.message}}</blockquote>
        </li>
      </ul>
      <footer>
        <form (ngSubmit)="onSubmit()" #chatForm="ngForm">
            <input type="text" [(ngModel)]="message" name="message" placeholder="Type here…..">
        </form>
      </footer>
    </section>
  </section>
</div>
<app-footer></app-footer>
