<app-header-black></app-header-black>
<div class="dashboard">
  <aside>
    <nav>
      <a routerLink="/profile/edit" href="/profile/edit" routerLinkActive="active">Настройки</a>
      <a routerLink="/profile/chat" href="/profile/chat" routerLinkActive="active">Сообщение</a>
      <a href="">News</a>
    </nav>
  </aside>
  <section class="chat">
    <div class="chanels">
      <ul>
        <li>
          <section *ngFor="let chat of chats; index as i" (click)="selectChat(chat?.id, chat?.users)">
              <figure></figure>
              <h1>{{chat?.users[0].name}}</h1>
              <p>The Basics Of Buying A Telescope</p>
              <footer>{{chat.updated_at}}</footer>
          </section>
        </li>
      </ul>
    </div>
    <section class="messages">
      <header>
        <div class="messages__answer">
          <figure></figure>
          <h1>Uzoma Buchi</h1>
          <span>Available</span>
        </div>
      </header>
      <ul>
        <li *ngFor="let message of messages; index as i">
          <blockquote [ngClass]="{
            'messages__me': message.user_id == userID,
            'messages__you': message.user_id != userID
          }">{{message.message}}</blockquote>
        </li>
        <li *ngFor="let newMessage of newMessages; index as i">
          <blockquote [ngClass]="{
            'messages__me': newMessage.user_id == userID,
            'messages__you': newMessage.user_id != userID
          }">{{newMessage.message}}</blockquote>
        </li>
      </ul>
      <footer>
        <form (ngSubmit)="onSubmit()" #chatForm="ngForm">
            <input type="text" [(ngModel)]="message" name="message" placeholder="Type here…..">
        </form>
      </footer>
    </section>
  </section>
</div>
<app-footer></app-footer>
