@media screen and (min-width:375px){

    .header {
        padding: 0 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-bottom-width: 1px;
        // border-bottom-style: solid;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
        
        > a:first-child {
            font-size: 24px;
            text-decoration: none;
            font-weight: bold;
    
            span:first-child { color: var(--pink); }
            span:last-child { color: var(--purple); }
        }
        nav {
            display: flex;
            a:not(.profile) {
                font-size: 16px;
                padding: 0 25px;
                line-height: 45px;
                display: inline-block;
                text-decoration: none;
                transition: all .3s;
            }
            .signup {
                border: 1px solid var(--purple);
                margin-left: 25px;
                border-radius: 8px;
                &:hover {
                    background: var(--purple);
                }
            }
            .profile {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                margin-left: 25px;
                overflow: hidden;
                img {
                    position: relative;
                    z-index: 1;
                    max-width: 100%;
                }
            }
            .nav__a:hover {
                color: var(--pink);
            }
            .active {
                color: var(--purple);
            }
        }
    }
    
    }
    