<div class="join">
  <!-- <h1 *ngIf="!status">Присоединиться</h1> -->
  <!-- <h1 *ngIf="status">{{status.status}}</h1> -->
  <p *ngIf="!status">Как стать более физически активным, что может означать присоединение к клубу здоровья или фитнес-студии.</p>
  <p *ngIf="status">{{status.message}}</p>
    <!-- Будьте в курсе наших новых поступлений, удивительных продаж и сделок, особенностей, lookbook и многое другое. -->

  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div>
          <input type="submit">
          <!-- <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.25 8.12499L12.25 6.99999L0.25 5.87499V0.829957C0.25 0.776903 0.261258 0.724452 0.283029 0.67607C0.368019 0.487205 0.590022 0.402997 0.778887 0.487987L14.4901 6.65802C14.5736 6.69562 14.6405 6.76253 14.6781 6.8461C14.7631 7.03497 14.6789 7.25697 14.4901 7.34196L0.778887 13.512C0.730505 13.5338 0.678055 13.545 0.625 13.545C0.417893 13.545 0.25 13.3771 0.25 13.17V8.12499Z" fill="white"/>
          </svg> -->
        <input type="text" [(ngModel)]="data.email" name="email" placeholder="Ваш адрес электронной почты">
   
      </div>
    </form>
</div>
