.join {
  padding: var(--i-m) 0;
  background: var(--purple) url("/assets/right-bg.png");
  color: #fff;

  h1 {
    font-size: var(--xxxl);
    text-align: center;

  }

  p {
    font-size: var(--m);
    margin: var(--i-m) var(--i-m);
    text-align: center;
  }


  form {
    div {
      position: relative;
      max-width: 300px;
      margin: auto;

      input[type="text"] {
        width: 100%;
        border: none;
        border-radius: 37px;
        background-color: #fff;
        padding: 0 60px 0 24px;
        height: 48px;
        font-size: 14px;
        color: var(--dark);
        transition: all .3s;
        box-shadow: var(--shadow);
        &:focus,
        &:hover {
          box-shadow: var(--shadow-h);
        }
        &::placeholder {
          color: var(--dark);
          opacity: .4;
      }
      }

      input[type="submit"] {
        position: absolute;
        background: var(--pink) url(/assets/icon/letter.svg) 50% 50% no-repeat;
        border-radius: 47px;
        width: 56px;
        height: 40px;
        border: none;
        padding: 0;
        top: 4px;
        right: 4px;
        outline: none;
        cursor: pointer;
        font-size: 0;
      }
    }
  }

}
