.news {
    margin: 0 135px 25px 135px;

    > h1 {
        font-size: 48px;
        color: rgba(14, 21, 25, .9);
        font-weight: normal;
        text-align: center;
        margin-bottom: 50px;
    } 

    div:first-of-type {
        display: grid;
        grid-template-columns: repeat(3, 370px);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        article {
            cursor: pointer;
            width: 370px;
            border-radius: 10px;
            box-shadow: var(--shadow);
            overflow: hidden;
            padding-bottom: 25px;
            transition: all .3s;
            
            &:nth-child(4n+1) {
                display: none;
            }
            &:hover {
                box-shadow: var(--shadow-h);
            }

            figure {
                height: 260px;
                overflow: hidden;
                img {
                    max-height: 100%;
                }
            }
            h1 {
                font-size: 22px;
                padding: 0 25px;
                color: var(--dark);
            }
            p {
                padding: 0 25px;
                font-size: 16px;
                opacity: .9;
                color: var(--dark);
                line-height: 28px;
            }
            nav {
                padding: 0 25px;
                line-height: 44px;
               
                a {
                    font-size: 14px;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:first-child {
                        color: #50b8Bf
                    }
                    &:last-child {
                        margin-left: 25px;
                        color: #daaa53;
                        &::before {
                            content: "";
                            line-height: 44px;
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            opacity: .6;
                            display: inline-block;
                            background: var(--light);
                            margin-right: 19px;
                            position: relative;
                            top: -1px;
                            vertical-align:  middle;
                        }
                    }
                }
            }
            footer {
                font-size: 14px;
                line-height: 44px;
                padding: 0 25px;

                time {
                    color: var(--light);
                    text-transform: uppercase;
                    margin-right: 15px;
                }
                span {
                    color: var(--light);
                    &::before {
                        content: "";
                        line-height: 44px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        opacity: .6;
                        display: inline-block;
                        background: var(--light);
                        margin-right: 15px;
                        vertical-align:  middle;
                    }
                    a {
                        color: var(--light);
                    }
                }
            }
        }
    }
}
div:last-of-type {
    text-align: center;
    
    .load {
        text-align: center;
        line-height: 58px;
        border: 1px solid var(--purple);
        border-radius: 47px;
        font-size: 16px;
        color: var(--purple);
        text-decoration: none;
        display: inline-block;
        padding: 0 45px;
        text-transform: uppercase;
        margin: 60px auto 0;
        font-weight: 600;
        letter-spacing: 2px;
        transition: .3s;

        &:hover {
            background: var(--purple);
            color: white;
        }
    }
}