.news {
    margin-top: var(--i-m);
    > h1 {
        font-size: var(--xxxl);
        // margin-bottom: var(--i-m);
        padding-left: var(--i-m);
    } 
    div:first-of-type {
 
        > div {
            transition: all .3s;
            display: grid;
            grid-template-columns: repeat(3, 185px);
            grid-column-gap: 22px;
            padding: var(--i-m) 0 var(--i-m) var(--i-s);
        }

        overflow: hidden;
        overflow-x: scroll;

        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        
        &::-webkit-scrollbar { width: 0 !important }


        article {
            cursor: pointer;
            width: calc(370px / 2);
            border-radius: 5px;
            box-shadow: var(--shadow);
            overflow: hidden;
            transition: all .3s;
            align-self: start;
            padding-bottom: 12px;
            
            &:hover {
                box-shadow: var(--shadow-h);
            }

            figure {
                max-height: 130px;
                overflow: hidden;
                img {
                    max-width: 100%;
                    display: block;
                }
            }
            header {
                padding: var(--i-s) var(--i-s) 0;
            }
            h1 {
                font-size: var(--s);
                color: var(--dark);
            }
            p {
                padding: 0 12px;
                font-size: var(--s);
                color: var(--dark);
            }
            nav {
                padding: 0 12px;
                line-height: 22px;
               
                a {
                    font-size: 14px;
                    text-decoration: none;

                    &:first-child {
                        color: var(--blue)
                    }
                    // &:last-child {
                    //     margin-left: 25px;
                    //     color: #daaa53;
                    //     &::before {
                    //         content: "";
                    //         line-height: 44px;
                    //         width: 4px;
                    //         height: 4px;
                    //         border-radius: 50%;
                    //         opacity: .6;
                    //         display: inline-block;
                    //         background: var(--light);
                    //         margin-right: 19px;
                    //         position: relative;
                    //         top: -1px;
                    //         vertical-align:  middle;
                    //     }
                    // }
                }
            }
            footer {
                font-size: var(--xs);
                padding: 0 var(--i-s) var(--i-s);

                time {
                    color: var(--light);
                    margin-right: 15px;
                }
                span {
                    color: var(--light);
                    &::before {
                        content: "";
                        line-height: 44px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        opacity: .6;
                        display: inline-block;
                        background: var(--light);
                        margin-right: 15px;
                        vertical-align:  middle;
                    }
                    a {
                        color: var(--light);
                    }
                }
            }
            &:last-of-type {
                margin-right: -13px;
            }
        }
        .add { width: 1px;display: block;}
    }
}
// div:last-of-type {
    
//     .load {
//         text-align: center;
//         line-height: 58px;
//         border: 1px solid var(--purple);
//         border-radius: 47px;
//         font-size: 16px;
//         color: var(--purple);
//         text-decoration: none;
//         display: inline-block;
//         padding: 0 45px;
//         margin: 60px auto 0;
//         transition: .3s;

//         &:hover {
//             background: var(--purple);
//             color: white;
//         }
//     }
// }