:host > div {
    position: relative;
}
.preview {
    height: 700px;
    overflow: hidden;
    background: linear-gradient(-45deg, var(--pink),var(--purple), var(--blue), var(--green), var(--yellow));

    img {
        opacity: 0;
        max-width: 100%;
        
    }
}
.intro {
    position: absolute;
    top: 0;
    left: 90px;
    right: 90px;
    bottom: 0;
    display: grid;
    align-content: center;
    opacity: .9;
    h1 {
        font-size: 74px;
        line-height: 74px;
        text-shadow: var(--shadow);
    }
    p {
        font-size: 18px;
        margin: 45px 0 45px;
        text-shadow: var(--shadow);
    }
    a {
        line-height: 78px;
        padding: 0 50px;
        display: inline-block;
        color: var(--purple);
        border-radius: 8px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        justify-self: baseline;
        letter-spacing: 2px;
        transition: all .3s;
        
        &:hover {
            background: var(--purple);
        }
    }
}