:host > div {
    position: relative;
}
@media screen and (min-width:320px){
.preview {
    height: calc(700px / 2);
    overflow: hidden;
    background: var(--purple) url("/assets/right-bg.png");
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background-image: linear-gradient(135deg, rgba(0,0,0,.7) 0%, rgba(255,255,255,0) 100%);
    }
    img {
        max-width: 100%;
        width: 100%;
        
    }
}
.intro {
    position: absolute;
    top: 0;
    left: 45px;
    right: 45px;
    bottom: 0;
    display: grid;
    align-content: center;
    opacity: .9;
    h1 {
        font-size: var(--xxxl);
        text-align: center;
    }
    p {
        font-size: var(--m);
        margin: var(--i-m) 0 36px;
        text-align: center;
    }
    a {
        line-height: 37px;
        padding: 0 25px;
        display: inline-block;
        color: var(--purple);
        border-radius: 8px;
        text-decoration: none;
        font-size: var(--s);
        justify-self: baseline;
        transition: all .3s;
        margin: auto;
        
        &:hover {
            background: var(--purple);
        }
    }
}
}