:host > div {
    position: relative;
}
.preview {
    height: 800px;
    overflow: hidden;
    background: black;

    img {
        max-width: 100%;
        
    }
}
.intro {
    position: absolute;
    top: 0px;
    left: 90px;
    right: 90px;
    bottom: 0;
    display: grid;
    align-content: center;

    h1 {
        text-align: center;
        margin: auto;
        font-size: 74px;
        color: white;
        font-weight: 600;
        line-height: 84px;
    }
}