<div>
    <figure class="preview">
      <!-- <img src="/assets/bg.jpg" alt=""> -->
    </figure>
    <section class="intro">
         
      <h1 i18n="@@introductionHeader">Построй cвоё тело,<br> преобразуй свою жизнь.</h1>
      <p>Физическая активность является важной частью повседневной жизни миллионов людей во всем мире</p>
      
      <ng-template [ngIf]="!auth">
        <a i18n="@@started" routerLink="/signin" href="/signin">Начать</a>
      </ng-template>
      <ng-template [ngIf]="auth">
        <a i18n="@@started" routerLink="/profile" href="/profile">Дальше</a>
      </ng-template>
    </section>
  </div>