<div>
    <figure class="preview">
      <!-- <img src="/assets/bg.jpg" alt=""> -->
    </figure>
    <section class="intro">
         
      <h1 i18n="@@introductionHeader">Построй своё тело<br> преобразуй свою жизнь.</h1>
      <p>Проверенные личные тренеры доставляются к вам домой, в парк или в здание спортзала.</p>
      
      <ng-template [ngIf]="!auth">
        <a i18n="@@started" routerLink="/signin" href="/signin">Начать</a>
      </ng-template>
      <ng-template [ngIf]="auth">
        <a i18n="@@started" routerLink="/profile" href="/profile">Дальше</a>
      </ng-template>
    </section>
  </div>