<app-header-logo></app-header-logo>
<main class="signup">
    <div>
      <section class="form">
        <h1>Регистрация</h1>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <label for="name">Имя</label>
          <input id="name" type="text" placeholder="Troy Stewart" [(ngModel)]="data.name" name="name">
          <label for="email">Электронная почта</label>
          <input id="email" type="text" placeholder="orrin.prohaska@hotmail.com" [(ngModel)]="data.email" name="email">
          <label for="password">Пароль</label>
          <input type="password" value="password" [(ngModel)]="data.password" name="password">
          <input id="password" type="submit" value="Регистрация">
        </form>
        <p class="form__info"><a routerLink="/forget-password" href="/forget-password">Забыли пароль</a> или <a href="#">Имя пользователя?</a></p>
        <span>Or</span>
        <a class="form__google" href="#">Войти через Google</a>
        <p class="form__info">Уже есть аккаунт? <a routerLink="/signin" href="/signin">Войти</a></p>
      </section>
    </div>
    <div>
      <section class="text">
        <h1>Откройте Ваш<br> мир по Фитнесу</h1>
        <p>Это звучало очень веская причина, и<br> Элис была очень довольна это узнать.</p>
        <footer>
          <p>As featured in</p>
          <app-board-row></app-board-row>
        </footer>
      </section>
    </div>
  </main>