<app-header-black></app-header-black>
<main>
  <article>
    <figure><img src="https://img2.goodfon.ru/wallpaper/nbig/0/c1/dumbbell-fitness-bodybuilder-female-workout-black-sportswear.jpg" alt=""></figure>
    <aside>
      <figure><img src="https://img2.goodfon.ru/wallpaper/nbig/0/c1/dumbbell-fitness-bodybuilder-female-workout-black-sportswear.jpg" alt=""></figure>
      <h1>Mabelle Sanchez</h1>
      <span>Available</span>
      <ul>
        <li>
          <span>Email</span>
          <a href="">kuvalis.mandy@graham.biz</a>
        </li>
        <li>
          <span>Phone</span>
          <a class="" href="">8801849839300</a>
        </li>
        <li>
          <span>City</span>
          <a href="">Kaydenborough</a>
        </li>
      </ul>
      <a href="">Edit profile</a>
    </aside>
    <section>
      <h1>About</h1>
      <p>Must go faster. I was part of something special. Must go faster... go, go, go, go, go! Remind me to thank John for a lovely weekend. You know what? It is beets. I've crashed into a beet truck. Just my luck, no ice. Hey, take a look at the earthlings. Goodbye!</p>
    </section>
    <section>
      <h1>Services</h1>
    </section>
    <section>
      <h1>Experience</h1>
    </section>
    <section>
      <h1>Education</h1>
    </section>
  </article>
</main>