<main class="forget forget_password">
    <div>
      <section class="form">
        <h1>Забыли пароль?</h1>
        <p class="form__text">Введите адрес электронной почты ниже, и мы<br> вернуть вас в нужное русло.</p>
        <form action="">
          <label for="email">Ваш e-mail</label>
          <input type="text" placeholder="orrin.prohaska@hotmail.com">
          <input type="submit" value="Сброс пароля">
        </form>
        <p class="form__info"><a routerLink="/signin" href="/signin">Вернуться, чтобы войти</a></p>
      </section>
    </div>
  </main>