<main class="forget forget_password">
    <div>
      <section class="form">
        <h1>Forgot your password?</h1>
        <p class="form__text">Enter your email address below and we'll<br> get you back on track.</p>
        <form action="">
          <label for="email">Youre e-mail</label>
          <input type="text" placeholder="orrin.prohaska@hotmail.com">
          <input type="submit" value="Reset password">
        </form>
        <p class="form__info"><a routerLink="/signin" href="/signin">Return to sign in</a></p>
      </section>
    </div>
  </main>