:host {
    position: relative;
    display: block;
}
.categories {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 50px 0;

    li {
        a {
            color: var(--grey-text);
            padding: 0 25px;
            font-size: 18px;
            line-height: 44px;
            border-radius: 50px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1.4px;
            border: 1px solid var(--border-grey);
            display: inline-block;
            transition: all .3s;

            &.active {
                color: white;
                background: var(--purple);
                border-color: var(--purple) ;
            }
            &:hover {
                color: white;
                background: var(--purple);
                border-color: var(--purple) ;
            }
        }
        & + li {
            margin-left: 20px;
        }
    }
}
