.header {
    margin: 0 90px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    
    > a:first-child {
        font-size: 34px;
        text-decoration: none;
        font-weight: bold;
        padding: 0 25px;;

        span:first-child { color: var(--pink); }
        span:last-child { color: var(--purple); }
    }
}