/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::after, ::before {
    box-sizing: border-box;
}
:root {
    
    --pink: #bd10e0;
    --purple: #9013fe;
    --yellow: #f8e71c;
    --orange: #f5a623;
    --green: #7ED321;
    --blue: #4A90E2;
    
    --white: white;
    --light: #9B9B9B;
    --border-light: #eee;
    --background-light: #eee;
    
    --black: black;
    --dark: #4A4A4A;
    --border-dark: #111;
    --background-dark: #111;

    --shadow: 0 0 10px rgba(0,0,0,.1);
    --shadow-h: 0 0 30px rgba(0,0,0,.1);

    --platinum: #e5e4e2;
    --gold: #ffd700;
    --silver: #c0c0c0;
    --bronze: #cd7f32;

    --xs: 12px;
    --s: 14px;
    --m: 16px;
    --l: 18px;
    --xl: 20px;
    --xxl:22px;
    --xxxl: 24px;

    --phone: 320px;
    --pad: 768px;
    --book: 1085px;
    --tv: 1920px;

    --lh-s: 22px;
    --lh-m: 44px;

    --i-s: 12px;
    --i-m: 24px;
}
html, body {
    height: 100%;
}
body {
    max-width: 1920px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
@media screen and (min-width:768px), (max-width:300px){
    div {
        opacity: 0;
    }
    html {
        height: 100%;
        min-height: 100%;
    }
    body {
        height: 100%;
        background: var(--purple) !important;

        &::after {
            content: "Ooops...";
            font-size: var(--xxxl);
            color: var(--white);
            font-weight: bold;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;
            display: grid;
            align-content: center;
        }
    }
}
.content_jobs {
    p {
        font-size: 16px;
        color: var(--light);
    }
    ul {
        margin-left: 22px;
        font-size: 16px;
        color: var(--light);
        li + li {
            margin-top: 10px;
        }
    }
}
.content__club {
    p {
        line-height: var(--lh-s);
        color: var(--dark-black);
        font-size: var(--m);
    }
    ul {
        padding: 0 25px;
        font-size: 16px;
        opacity: .9;
        color: var(--dark-black);
        line-height: 28px; 
    }
}
.content__news {
    p {
        padding: 0 25px;
        font-size: 16px;
        opacity: .9;
        color: var(--dark-black);
        line-height: 28px;
    }
}
input,
textarea {
    -webkit-appearance:none;
    outline: none;
}
@keyframes intro {
    from {transform: translateY(-70px);opacity: 0;}
    to {transform: translateY(0px);opacity: 1;}
  }
.si-float-wrapper {
    position: absolute;
    width: 135px;
    background: var(--white);
    margin-left: -71px;
    margin-top: -139px;
    animation: .3s 0s intro 1 ease-out both;

}
.si-float-wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}