/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::after, ::before {
    box-sizing: border-box;
}
:root {
    --pink: #bd10e0;
    --purple: #9013fe;
    --grey-light: #eff0f4;
    --grey-dark: #4f5362;
    --grey-white: #efefef;
    --grey-text: #757a7d;
    --dark-black: #0e1519;
    --purple-light: #a32Cff;
    --bg-b-grey: #f6f6f6;
    --border-grey: #D9DADD;
    --dark-time: #535875;
}
html, body {
    height: 100%;
}
body {
    width: 1440px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}
.content {
    font-size: 18px;
    color: var(--dark-black);
    opacity: .8;
    line-height: 33px;

    h2 {
        font-size: 48px;
        font-weight: 600;
    }
    h3,h4,h5 {
        font-weight: 600;
        font-size: 36px;
    }
}