@media screen and (min-width:320px){
.dashboard {
    // display: grid;
    // grid-template-columns: 250px 1fr;
    
    aside {
        width: 250px;
        background: var(--purple);
        padding-top: 30px;
        height: 100%;
        nav {
            a {
                display: block;
                margin: 0 20px;
                line-height: 44px;
                text-decoration: none;
                font-size: 16px;
                padding-left: 50px;
                color: white;
                border-radius: 4px;
            }
            a.active {
                background: white;
                color: var(--purple);
            }
        }
    }
    section {
        padding-top: 22px;
        &.profile__photo {
            display: flex;
            padding: 0 30px;
            box-shadow: none;

            div {
                margin-right: 25px;
                overflow: hidden;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                cursor: pointer;
            }
            img {
                max-width: 100%;
            }
            header {
                line-height: 1.2;
            }
            h1 {
                font-size: 24px;
                font-weight: 600;
            }
            span {
                font-size: 12px;
                color: var(--light);
            }
            form {
                background-size: contain;
                position: relative;

            }
            input[type="file"]  {
                font-size: 0;
                z-index: 1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: #000;
                opacity: 0;
            }
        }
        
        > h1 {
            font-size: 18px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            line-height: 44px;
            padding: 0 30px;
            font-weight: 600;
        }

        form {
            font-size: 0;
            // padding-bottom: 30px;
            .form__grid {
                margin: 30px;
                // display: grid;
                // grid-template-columns: auto 1fr;
                // grid-gap: 30px;
            }
            .form__textarea {
                margin: 0 30px;
                
                textarea {
                    width: 750px;
                    height: 144px;
                    border-radius: 4px;
                    border-width: 1px;
                    border-style: solid;
                    outline: none;
                    padding: 20px;
                    font-size: 14px;
                }
            }
            label {
                display: block;
                font-size: 12px;
                line-height: 44px;
            }
            input[type="text"] {
                // width: 360px;
                width: 100%;
                border-radius: 4px;
                border-width: 1px;
                border-style: solid;
                line-height: 46px;
                outline: none;
                padding: 0 20px;
                font-size: 14px;
            }
        }
        footer {
            border-top-width: 1px;
            border-top-style: solid;
            padding: 20px 30px;
            
            input[type="submit"] {
                padding: 0 15px;
                text-decoration: none;
                line-height: 36px;
                border-radius: 4px;
                display: inline-block;
                color: white;
                cursor: pointer;
                font-size: var(--s);
                font-family: 'Open Sans', sans-serif;
                
            }
            input:first-child {
                border: 1px solid var(--purple);
                background: var(--purple);
                transition: all .3s;
                &:hover {
                    background: transparent;
                    color: var(--purple);
                }
            }
                
            a {
                border: 1px solid var(--light);
                color: var(--dark);
                margin-left: 10px;
                text-decoration: none;
                display: inline-block;
                padding: 0 15px;
                border-radius: 4px;
                line-height: 36px;
                transition: all .3s;
                font-size: var(--s);
                &:hover {
                    background: var(--light);;
                }
            }
        }
    }
}

}
.status {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 22px;
    text-align: center;
    background: var(--green);
    color: var(--white);
    opacity: .9;
}
.error {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 22px;
    text-align: center;
    background: var(--red);
    color: var(--white);
    opacity: .9;
}