<!-- <app-header-black></app-header-black> -->
<div class="dashboard">
  <app-profile-aside [profile]="profile"></app-profile-aside>
  <section>
    <!-- <h1>Редактировать профиль</h1> -->
    <!-- <section class="profile__photo">
      <form>
        <div>
          <img *ngIf="profile?.avatar" src="{{profile?.avatar}}" alt="">
          <img *ngIf="!profile?.avatar" src="/assets/icon/profile.svg" alt="">
          <input type="file" name="photo" (change)="onFileSelected($event)">
        </div>
      </form>
      <header>
        <h1>{{profile?.name}}</h1>
        <span>{{profile?.email}}</span>
      </header>

    </section> -->
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form__grid">
        <div>
          <label for="">Имя</label>
          <input [(ngModel)]="data.name" name="name" type="text">
        </div>
        <!-- <div>
          <label for="">Фамилия</label>
          <input type="text">
        </div> -->
        <!-- <div>
          <label for="">Skype</label>
          <input type="text">
        </div> -->
        <!-- <div>
          <label for="">Город</label>
          <input type="text">
        </div> -->
        <div>
          <label for="">Email</label>
          <input [(ngModel)]="data.email" name="email" type="text">
        </div>
        <div>
          <label for="">Пароль</label>
          <input [(ngModel)]="data.password" name="password" type="text">
        </div>
        <div>
          <label for="">Повторить пароль</label>
          <input [(ngModel)]="data.password_confirmation" name="password_confirmation" type="text">
        </div>
        <!-- <div>
          <label for="">Телефон</label>
          <input type="text">
        </div> -->
      </div>
      <!-- <div class="form__textarea">
        <label for="">Описание</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div> -->
      <footer>
        <input type="submit" value="Сохранить Изменения">
        <a href="">Отменить</a>
     </footer>
     <span class="status" *ngIf="status">{{status.status}}</span>
     <span class="error" *ngIf="error">Ошибка</span>
    </form>
  </section>
</div>
<app-footer></app-footer>
