<!-- <app-header-black></app-header-black> -->
<div class="dashboard">
  <app-profile-aside [profile]="profile"></app-profile-aside>
  <section>
    <!-- <h1>Редактировать профиль</h1> -->
    <!-- <section class="profile__photo">
      <form>
        <div>
          <img *ngIf="profile?.avatar" src="{{profile?.avatar}}" alt="">
          <img *ngIf="!profile?.avatar" src="/assets/icon/profile.svg" alt="">
          <input type="file" name="photo" (change)="onFileSelected($event)">
        </div>
      </form>
      <header>
        <h1>{{profile?.name}}</h1>
        <span>{{profile?.email}}</span>
      </header>

    </section> -->
    <form action="">
      <div class="form__grid">
        <div>
          <label for="">Имя</label>
          <input type="text">
        </div>
        <!-- <div>
          <label for="">Фамилия</label>
          <input type="text">
        </div> -->
        <!-- <div>
          <label for="">Skype</label>
          <input type="text">
        </div> -->
        <!-- <div>
          <label for="">Город</label>
          <input type="text">
        </div> -->
        <div>
          <label for="">Email</label>
          <input type="text">
        </div>
        <div>
          <label for="">Пароль</label>
          <input type="text">
        </div>
        <div>
          <label for="">Повторить пароль</label>
          <input type="text">
        </div>
        <!-- <div>
          <label for="">Телефон</label>
          <input type="text">
        </div> -->
      </div>
      <!-- <div class="form__textarea">
        <label for="">Описание</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div> -->
    </form>
    <footer>
      <a (click)="onUpload()">Сохранить Изменения</a>
      <a href="">Отменить</a>
    </footer>
  </section>
</div>
<app-footer></app-footer>
