<app-header-black></app-header-black>
<div class="dashboard">
  <aside>
    <nav>
      <a routerLink="/profile/edit" href="/profile/edit" routerLinkActive="active">Настройки</a>
      <a routerLink="/profile/chat" href="/profile/chat" routerLinkActive="active">Сообщение</a>
      <a href="">News</a>
      <a routerLink="/profile/calendar" href="/profile/calendar" routerLinkActive="active">Календарь</a>
    </nav>
  </aside>
  <section>
    <h1>Edit Profile</h1>
    <section class="profile__Photo">
      <form action="">
        <input type="file">
      </form>
      <header>
        <h1>Trainer NAme</h1>
        <span>user name</span>
      </header>

    </section>
    <form action="">
      <div class="form__grid">
        <div>
          <label for="">Name</label>
          <input type="text">
        </div>
        <div>
          <label for="">Surname</label>
          <input type="text">
        </div>
        <div>
          <label for="">Skype</label>
          <input type="text">
        </div>
        <div>
          <label for="">City</label>
          <input type="text">
        </div>
        <div>
          <label for="">Email</label>
          <input type="text">
        </div>
        <div>
          <label for="">Phone</label>
          <input type="text">
        </div>
      </div>
      <div class="form__textarea">
        <label for="">Description</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
    </form>
    <footer>
      <a href="">Save Changes</a>
      <a href="">Cancel</a>
    </footer>
  </section>
</div>
<app-footer></app-footer>
