.videos {
  background-color: var(--background-light);
        
}
.new {
  margin: auto;
  margin-bottom: 30px;
  height: 329px;
  width: 100%;
  display: grid;
  
  div{
    background: #000;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
}

.video {
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  
  a {
    text-decoration: none;
  }
  &__img-block {
    position: relative;
    overflow: hidden;
    max-height: 220px;

    img {
      max-width: 100%;
    }
  }

  &__youtube-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background-image: url("/assets/youtube.svg");
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
    transform: translateX(-50%) translateY(-50%);
  }


  h1 {
    padding: 0 20px;
    font-weight: 600;
    font-size: 24px;
    color: var(--dark);
    margin: 20px 0;
  }

  &__tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
  }

  &__tag {
    position: relative;
    margin-left: 28px;
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--light);

    &:first-child {
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -15px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--background-light);
    }

    &:first-child::before {
      display: none;
    }

  }
}
@media screen and (min-width:768px), (max-width:300px){
  div {
      opacity: 0;
  }
  html {
      height: 100%;
      min-height: 100%;
  }
  body {
      overflow: hidden;
      height: 100%;
      background: var(--purple) !important;

      &::after {
          content: "Доступно с телефона";
          font-size: var(--xxxl);
          color: var(--white);
          font-weight: bold;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          text-align: center;
          display: grid;
          align-content: center;
      }
  }
}
@media screen and (min-width:320px){
  .videos {
    > h1 {
      font-size: var(--xxxl);
      margin-bottom: var(--i-s);
      padding-left: var(--i-m);
  }
  > p {
      font-size: var(--s);
      margin: 0 var(--i-m);
  }
  }
  .video {
    max-width: calc(370px / 2);
    border-radius: calc(14px / 2);
  }
}