.videos {
  padding: 60px 0 150px;
  background-color: #f2f2f2;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
}

.video {
  max-width: 370px;
  background-color: #fff;
  border-radius: 14px;
  overflow: hidden;

  &__img-block {
    position: relative;
  }

  &__youtube-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    background-image: url("/assets/youtube.svg");
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
    transform: translateX(-50%) translateY(-50%);
  }

  &__images {
    display: block;
  }

  &__wrapper {
    padding: 20px;
  }

  &__headline {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    color: var(--dark-black);
  }

  &__tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__tag {
    position: relative;
    margin-left: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--grey-text);

    &:first-child {
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -15px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: rgba(188, 188, 188, 0.6);
    }

    &:first-child::before {
      display: none;
    }

  }
}
