.videos {
  position: relative;
        
}
.new {
  display: grid;
  overflow: hidden;
  
  div{
    background-color: var(--black);
  }
  iframe {
    display: block;
    margin: auto;
    height: 100%;
  }
}
.container {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
  padding: var(--m) var(--i-s);
  background: var(--purple) url(/assets/right-bg.png);
}

.video {
  cursor: pointer;
  background-color: #fff;
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: all .3s;

  &:hover {
    transform: translateY(-7px);
    box-shadow: var(--shadow-h);
  }
  
  a {
    text-decoration: none;
  }
  &__img-block {
    position: relative;
    overflow: hidden;
    max-height: 220px;

    img {
      max-width: 100%;
    }
  }

  &__youtube-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3%;
    right: 3%;
    background-image: url("/assets/youtube.svg");
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
  }


  h1 {
    padding: 0 var(--i-s);
    color: var(--dark);
    margin: var(--i-s) 0;
  }

  &__tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
  }

  &__tag {
    position: relative;
    margin-left: 28px;
    margin-bottom: 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--light);

    &:first-child {
      margin: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -15px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--background-light);
    }

    &:first-child::before {
      display: none;
    }

  }
}


@media screen and (min-width:320px){
  .new {
    height: 320px;
    iframe  {
      width: 100%;
    }
  }
  .videos {
    > h1 {
      font-size: var(--xxxl);
      margin-bottom: var(--i-s);
      padding-left: var(--i-m);
      color: var(--dark);
  }
  > p {
      font-size: var(--s);
      margin: var(--i-m) var(--i-m);
      color: var(--light);
  }
  }
  .video {
    max-width: calc(370px / 2);
    border-radius: calc(14px / 2);
    h1 {
      font-size: var(--s);
    }
  }
}

@media screen and (min-width:720px){
  .new {
    height: 480px;
    iframe  {
      width: 100%;
    }
  }
}

@media screen and (min-width:1080px){
  .new {
    height: 480px;
    iframe  {
      width: 100%;
    }
  }
}

@media screen and (min-width:1920px){
  .new {
    height: 720px;
    iframe  {
      width: 100%;
    }
  }
}