<a href="https://www.adidas.ru/" rel="nofollow" target="_blank"><img src="assets/partner/Adidas.svg" alt="«adidas»" title="«adidas»"></a>
<a href="https://www.nike.com/ru/ru_ru/" rel="nofollow" target="_blank"><img src="assets/partner/NIKE.svg" alt="Nike. Just Do It." title="Nike. Just Do It."></a>
<a href="https://www.everlast.com/" rel="nofollow" target="_blank"><img src="assets/partner/Everlast.svg" alt="Everlast Worldwide, Inc." title="Everlast Worldwide, Inc."></a>
<a href="https://ru.fifa.com/worldcup/" rel="nofollow" target="_blank"><img src="assets/partner/fifacom-white.svg" alt="2018 FIFA World Cup Russia™ - FIFA.com" title="2018 FIFA World Cup Russia™ - FIFA.com"></a>
<a href="https://ru.puma.com/" rel="nofollow" target="_blank"><img src="assets/partner/Puma_logo.svg" alt="Puma" title="Puma"></a>
<a href="https://www.nike.com/ru/ru_ru/c/jordan" rel="nofollow" target="_blank"><img src="assets/partner/Jumpman_logo.svg" alt="Nike Jordan. Nike.com (RU)" title="Nike Jordan. Nike.com (RU)"></a>
