<header class="header">
  <a routerLink="/" href="/"><span>fit</span><span>gum</span></a>
  <nav>
    <a routerLink="/clubs" href="/clubs">Клубы</a>
    <a routerLink="/blog" href="/blog">Блог</a>
    <a href="#">Сервис</a>
    <a href="#">Тренеры</a>
    <a href="#">О нас</a>
    <a href="#">Контакты</a>
    <ng-template [ngIf]="!auth">
      <a routerLink="/signin" href="/signin">Войти</a>
      <a class="signup" routerLink="/signup" href="/signup">Регистрация</a>
    </ng-template>
    <ng-template [ngIf]="auth">
      <a (click)="signOut()" class="" href="#">Выход</a>
      <a class="profile" routerLink="/profile" href="/profile"></a>
    </ng-template>
  </nav>
</header>