.header {
    padding: 0 90px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    > a:first-child {
        font-size: 34px;
        text-decoration: none;
        font-weight: bold;
        padding: 0 25px;;

        span:first-child { color: var(--pink); }
        span:last-child { color: var(--purple); }
    }
    nav {
        display: flex;
        a {
            font-size: 16px;
            color: var(---grey-text);
            padding: 0 25px;
            line-height: 45px;
            display: inline-block;
            text-decoration: none;
            transition: all .3s;
            font-weight: 600;
        }
        .signup {
            border: 1px solid var(--purple);
            color: var(--purple);
            margin-left: 25px;
            border-radius: 8px;
            font-weight: 600;
            &:hover {
                background: var(--purple-light);
                color: white;
            }
        }
        .profile {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: url(/assets/icon/profile.svg) 0 0 no-repeat;
            background-size: contain;
            margin-left: 25px;
        }
        a:hover {
            color: var(--purple);
        }
        .active {
            color: var(--purple);
        }
    }
}