.header {
    padding: 0 90px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    > a:first-child {
        font-size: 34px;
        text-decoration: none;
        font-weight: bold;
        padding: 0 25px;;

        span:first-child { color: var(--pink); }
        span:last-child { color: var(--purple); }
    }
    nav {
        a {
            font-size: 16px;
            color: var(---grey-text);
            padding: 0 25px;
            line-height: 45px;
            display: inline-block;
            text-decoration: none;
        }
        a:last-child {
            background: var(--purple);
            color: white;
            margin-left: 25px;
            border-radius: 4px;
        }
    }
}