@media screen and (min-width:375px){

.header {
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 44px;
    
    > a:first-child {
        font-size: 17px;
        text-decoration: none;
        font-weight: bold;

        span:first-child { color: var(--pink); }
        span:last-child { color: var(--purple); }
    }
    nav {
        display: flex;
        a:not(.profile) {
            font-size: 12px;
            padding: 0 12px;
            line-height: 22px;
            display: inline-block;
            text-decoration: none;
            align-self: center;
            transition: all .3s;
        }
        .signup {
            border: 1px solid var(--purple);
            margin-left: 22px;
            border-radius: 4px;
            &:hover {
                background: var(--purple);
            }
        }
        .profile {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-left: 22px;
            overflow: hidden;
            img {
                position: relative;
                z-index: 1;
                max-width: 100%;
            }
        }
        .nav__a:hover {
            color: var(--pink);
        }
        .active {
            color: var(--purple);
        }
    }
}

}
