<header class="header">
  <a routerLink="/" href="/"><span>fit</span><span>gum</span></a>
  <nav>
    <!-- <a class="nav__a" i18n="clubs" routerLink="/clubs" href="/clubs" routerLinkActive="active">Клубы</a> -->
    <!-- <a class="nav__a" i18n="news" routerLink="/news" href="/news" routerLinkActive="active">Блог</a> -->
    <!-- <a class="nav__a" i18n="services" routerLink="/services" href="/services" routerLinkActive="active">Услуги</a> -->
    <!-- <a class="nav__a" i18n="trainers" routerLink="/trainers" href="/trainers" routerLinkActive="active">Тренеры</a> -->
    <!-- <a class="nav__a" i18n="products" routerLink="/products" href="/products" routerLinkActive="active">Продукты</a> -->
    <!-- <a class="nav__a" i18n="about" routerLink="/about" href="/about" routerLinkActive="active">О нас</a> -->
    <!-- <a class="nav__a" i18n="contacts" routerLink="/contacts" href="/contacts" routerLinkActive="active">Контакты</a> -->
    <a class="nav__a" i18n="videos" routerLink="/videos" href="/videos" routerLinkActive="active">Видео</a>
    <a class="nav__a" i18n="map" routerLink="/map" href="/map" routerLinkActive="active">Карта</a>
    <ng-template [ngIf]="!auth">
      <a i18n="signin" routerLink="/signin" href="/signin">Войти</a>
      <a i18n="signup" class="signup" routerLink="/signup" href="/signup">Регистрация</a>
    </ng-template>
    <ng-template [ngIf]="auth">
      <a  i18n="signout" (click)="signOut()" routerLink="/signin" href="/signin">Выход</a>
      <a class="profile" routerLink="/profile" href="/profile">
        <img *ngIf="profile?.avatar" src="{{profile?.avatar}}" alt="">
        <img *ngIf="!profile?.avatar" src="/assets/icon/profile.svg" alt="">
      </a>
    </ng-template>
  </nav>
</header>